.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 70vh;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 20vh;
}

/* .shop-product {

}

.shop-item-name {

}

.shop-item-price {

}

.shop-item-productinfo {

}

.shop-item-ingredients {

}

.shop-item-image {
    
} */

