.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 70vh;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 20vh;
}

.card-img-top-cart {
    object-fit: cover;
    height: 12vh;
}

.map-container {
    height: 75vh;
}

.card-img-top-about {
    object-fit: cover;
    height: 25vh;
}

